@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pp Neue Machina";
  src: url("/fonts/PP_Neue_Machina_Inktrap_Medium.woff");
}

body {
  transition: background-color ease-out 0.5s;
}

@layer {
  :root {
    --salmon: salmon;
    --black: #09090b;
    --cyan: #a5f3fc;
    --white: #f1f5f9;
    --dsalmon: #532521;
    --scrollPrimary: #ea580c;
    --scrollSecondary: #18181b;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollPrimary) var(--scrollSecondary);
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollPrimary);
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollSecondary);
  }

  *::selection {
    background-color: var(--salmon);
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke-color: transparent;
  }

  body[theme="black"] nav {
    color: #f3f4f6;
  }

  body[theme="white"] .nav-text,
  body[theme="salmon"] .nav-text,
  body[theme="cyan"] .nav-text {
    color: #09090b;
  }

  body[theme="black"] {
    background-color: var(--black);
  }

  body[theme="black"] .section {
    color: var(--white);
  }

  body[theme="cyan"] {
    background-color: var(--cyan);
  }

  body[theme="cyan"] .section {
    color: var(--dcyan);
  }

  body[theme="salmon"] {
    background-color: var(--salmon);
  }

  body[theme="salmon"] .section {
    color: var(--dsalmon);
  }

  body[theme="white"] {
    background-color: var(--white);
  }

  body[theme="white"] .section {
    color: var(--black);
  }
}
